/* Main css

*/
body{
    background-color: rgb(223, 223, 223);
    opacity: 0.4;
}

/* Header Styles */
.head&navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}






/* Contact Form Styles */
.Foot&Con {
    background: #f2f2f2;
    padding: 20px;
    text-align: left; 
    position: relative; 
    height: 200px; 
}

.Foot&Con h2 {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contactForm {
    max-width: 400px;
    margin: 0;
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    resize: vertical;
}

#contactSubmit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contactSubmit:hover {
    background-color: #45a049;
}


