/* Body */
body {
    background-color: #dfdfdf;
    opacity: 0.4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}






/* Header */
.head_navbar {
    background-color: #ba1717;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_navbar h1 {
    margin: 0;
}

.head_navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.head_navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.head_navbar nav ul li a:hover {
    background-color: #911010;
    border-radius: 4px;
}











